#pronostico{
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 0.5rem;
}
#back-pac{
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}
.grafico-container{
    margin-bottom: 0.5rem;
}
#pronostico h5{
    color: rgb(94, 94, 94);
    letter-spacing: 0.03rem;
    margin-bottom: 0.4rem;
}
























@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#loader{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left: 5px solid rgb(58, 58, 58);
    border-bottom: 5px solid rgb(58, 58, 58);
    border-top: 5px solid rgb(58, 58, 58);
    border-right: 5px solid #fff;
    animation: girar 0.5s infinite linear;
    animation-play-state: running;
    margin: auto;
    margin-top: -6rem;
}
.hide-loader{
    display: none !important;
}