#toHome{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgba(134, 134, 134, 0.521);
}
.lista-presion h1{
    margin-bottom: 0.5rem;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.4rem;
}
.lista-presion > b{
    display: inline-block;
    color: rgb(129, 129, 129);
    letter-spacing: 0.02rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.lista-presion > b > i{
    margin-right: 0.5rem;
}
.item-presion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.4rem;
    padding: 0.4rem;
    background-color: white;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    align-items: center;
    position: relative;
}
.item-presion:last-child{
    margin-bottom: 5rem;
}
#pa_sistolica{
    margin-bottom: 0.5rem;
}
#pa_sistolica > p{
    width: fit-content;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(204, 207, 255);
    color: rgb(76, 113, 216);
}
#pa_diastolica > p{
    width: fit-content;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(204, 207, 255);
    color: rgb(76, 113, 216);
}
#amd{
    font-weight: 600;
}
#icon-hora{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
}
#form-registrar-pa{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem;
    background-color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    transition: all ease-in 0.3s;
}
#form-registrar-pa > i{
    font-size: 1.5rem;
    color: rgb(76, 113, 216);
    margin-bottom: 1rem;
}
#desplegar{
    font-size: 1.5rem;
    color: rgb(63, 63, 63) !important;
    position: absolute;
    padding: none !important;
    margin: none !important;
    background-color: white !important;
    top: 0.4rem;
    right: 0.4rem;
    transform: rotate(90deg);
}

.hide-down{
    transform: translateX(-100%);
}
#show-form{
    font-size: 1.2rem;
    color: rgb(255, 255, 255) !important;
    position: fixed;
    padding: 0.3rem 0.4rem;
    background-color: white !important;
    bottom: 0.7rem;
    right: 0.7rem;
    transform: rotate(270deg);
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(80, 60, 255) !important;
    transition: all ease-in 0.3s;
}
.hide-show{
    left: -200% !important;
}
#form-registrar-pa input{
    margin-bottom: 0.5rem;
    outline: none;
    border: none;
    padding: 0.4rem;
    color: rgb(78, 78, 78);
}
#form-registrar-pa button{
    background-color: rgb(76, 113, 216);
    padding: 0.4rem;
    width: fit-content;
    margin: auto;
    border: none;
    border-radius: 0.2rem;
    color: white;
}
#predecir-option{
    padding: 0.4rem 0.6rem;
    background-color: rgb(255, 211, 115);
    border-radius: 0.2rem;
    color: rgb(179, 136, 17);
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 100;
    margin-left: 2.4rem;
}