<main id="main">
    <div id="modal-add-user" class="hide-modal">
        <form action="/add/user" method="post">
            <i class="fa-solid fa-rectangle-xmark" id="close-modal"></i>
            <input type="text" name="nombre_paciente" required id="nombre_paciente" placeholder="Nombre del paciente">
            <button type="submit">Agregar</button>
        </form>
    </div>
    <h1>Pacientes</h1>
    <button id="add-user"><i class="fa-regular fa-address-book"></i>Agregar</button>
    {{#each pacientes}}
        <div class="pacient">
            <p>{{nombre}}</p>
            <div class="actions">
                <a href="/delete/user/{{id_paciente}}" class="btn-delete"><i class="fa-solid fa-trash-can"></i></a>
                <a href="/details/paciente/{{id_paciente}}" class="more-details"><i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    {{/each}}
</main>