<div id="pronostico" data-id="{{id_paciente}}">
    <a href="/details/paciente/{{id_paciente}}" id="back-pac">Regresar</a>
    <div class="grafico-container">
        <h5>Presión Arterial</h5>
        <canvas id="presion_arterial">
        </canvas>
        <div id="loader"></div>
    </div>
</div>